<div class="container">
  <h1>Welcome to Flikker, kutwijf!</h1>
 <form action="/whatever" enctype="multipart/form-data">
  <input type="file" name="filename">
  <input type="submit" value="Submit">

</form>